cloudevents-integration/src/main/resources/schema/infinispan-cloudevents-config-14.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
           targetNamespace="urn:infinispan:config:cloudevents:${infinispan.core.schema.version}"
           xmlns:tns="urn:infinispan:config:cloudevents:${infinispan.core.schema.version}"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="cloudevents" type="tns:cloudevents"/>
    <xs:element name="cloudevents-cache" type="tns:cloudevents-cache"/>

    <xs:complexType name="cloudevents">
        <xs:attribute name="bootstrap-servers" type="xs:string" default="">
            <xs:annotation>
                <xs:documentation>
                    Bootstrap Kafka servers
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="acks" type="xs:string" default="">
            <xs:annotation>
                <xs:documentation>
                    Number of acks required, or "all".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="audit-topic" type="xs:string" default="">
            <xs:annotation>
                <xs:documentation>
                    Kafka topic for audit events
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="cache-entries-topic" type="xs:string" default="">
            <xs:annotation>
                <xs:documentation>
                    Kafka topic for cache entry events
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="cloudevents-cache">
        <xs:attribute name="enabled" type="xs:boolean" default="true">
            <xs:annotation>
                <xs:documentation>
                    Disable sending cache entry events for this cache
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>
