persistence/jdbc/src/main/resources/schema/infinispan-cachestore-jdbc-config-6.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
           targetNamespace="urn:infinispan:config:jdbc:6.0"
           xmlns:tns="urn:infinispan:config:jdbc:6.0"
           xmlns:config="urn:infinispan:config:6.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:infinispan:config:6.0"
             schemaLocation="http://www.infinispan.org/schemas/infinispan-config-6.0.xsd" />

  <xs:element name="stringKeyedJdbcStore">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:jdbcStore">
          <xs:sequence>
            <xs:element name="stringKeyedTable" type="tns:stringKeyedTable">
              <xs:annotation>
                <xs:documentation>
                  Defines the table used to store cache entries
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="key2StringMapper" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                The class name of a Key2StringMapper to use when mapping keys to strings to be used in the database tables
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="stringKeyedTable">
    <xs:complexContent>
      <xs:extension base="tns:table">
        <xs:attribute name="prefix" type="xs:string" default="ispn_entry">
          <xs:annotation>
            <xs:documentation>Defines the prefix prepended to the cache name used when composing the name of the cache entry table.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="binaryKeyedJdbcStore">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:jdbcStore">
          <xs:sequence>
            <xs:element name="binaryKeyedTable" type="tns:binaryKeyedTable">
              <xs:annotation>
                <xs:documentation>
                  Defines the table used to store cache entries
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="binaryKeyedTable">
    <xs:complexContent>
      <xs:extension base="tns:table">
        <xs:attribute name="prefix" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>Defines the prefix prepended to the cache name used when composing the name of the cache bucket table.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="mixedKeyedJdbcStore">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:jdbcStore">
          <xs:sequence>
            <xs:element name="binaryKeyedTable" type="tns:binaryKeyedTable" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Defines the table used to store cache buckets.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="stringKeyedTable" type="tns:stringKeyedTable" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Defines the table used to store cache entries.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="key2StringMapper" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                The class name of a Key2StringMapper to use when mapping keys to strings to be used in the database tables
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="jdbcStore" abstract="true">
    <xs:complexContent>
      <xs:extension base="config:lockSupportStore">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="connectionPool" type="tns:connectionPool" />
            <xs:element name="dataSource" type="tns:dataSource" />
            <xs:element name="simpleConnection" type="tns:simpleConnection" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="connectionPool">
    <xs:attribute name="connectionUrl" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            A JDBC driver-specific connection URL
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="driverClass" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The class name of the driver used for connecting to the database.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="password" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The password to use when connecting via connectionUrl
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="username" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The username to use when connecting via connectionUrl
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="dataSource">
    <xs:attribute name="jndiUrl" type="xs:string">
       <xs:annotation>
         <xs:documentation>
           The address of a datasource to use when connecting
         </xs:documentation>
       </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="simpleConnection">
    <xs:attribute name="connectionUrl" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          A JDBC driver-specific connection URL
        </xs:documentation>
      </xs:annotation>
      </xs:attribute>
      <xs:attribute name="driverClass" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The class name of the driver used for connecting to the database.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="password" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The password to use when connecting via connectionUrl
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="username" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The username to use when connecting via connectionUrl
          </xs:documentation>
        </xs:annotation>
     </xs:attribute>
  </xs:complexType>

  <xs:complexType name="table">
    <xs:sequence>
      <xs:element name="idColumn" type="tns:idColumn" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Defines the column in which to store the cache key or bucket id.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dataColumn" type="tns:dataColumn" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Defines the column in which to store the cache entry or bucket.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="timestampColumn" type="tns:timestampColumn" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Defines the column in which to store the timestamp of the cache entry or bucket.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createOnStart" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Determines whether database tables should be created by the store on startup.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dropOnExit" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Determines whether database tables should be dropped by the store on shutdown.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fetchSize" type="xs:int" default="100">
      <xs:annotation>
        <xs:documentation>The fetch size used when querying from this table. Used to avoid heap memory exhaustion when query is large.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="batchSize" type="xs:int" default="100">
      <xs:annotation>
        <xs:documentation>The statement batch size used when modifying this table.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="idColumn">
    <xs:attribute name="name" type="xs:string" default="id">
      <xs:annotation>
        <xs:documentation>The name of the column used to store the cache key or bucket id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="xs:string" default="VARCHAR">
      <xs:annotation>
        <xs:documentation>The type of the column used to store the cache key or bucket id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="dataColumn">
    <xs:attribute name="name" type="xs:string" default="datum">
      <xs:annotation>
        <xs:documentation>The name of the column used to store the cache entry or bucket.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="xs:string" default="BINARY">
      <xs:annotation>
        <xs:documentation>The type of the column used to store the cache entry or bucket.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="timestampColumn">
    <xs:attribute name="name" type="xs:string" default="version">
      <xs:annotation>
        <xs:documentation>The name of the column used to store the cache entry or bucket timestamp.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="xs:string" default="BIGINT">
      <xs:annotation>
        <xs:documentation>The type of the column used to store the cache entry or bucket timestamp.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
