cachestore/hbase/src/main/resources/schema/infinispan-cachestore-hbase-config-5.2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!--
  ~ Copyright 2012 Red Hat, Inc. and/or its affiliates.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this library; if not, write to the Free Software
  ~ Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
  ~ 02110-1301 USA
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" targetNamespace="urn:infinispan:config:hbase:5.2" xmlns:tns="urn:infinispan:config:hbase:5.2" xmlns:config="urn:infinispan:config:5.2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:infinispan:config:5.2" schemaLocation="http://www.infinispan.org/schemas/infinispan-config-5.2.xsd" />

  <xs:complexType name="hbaseStore">
    <xs:complexContent>
      <xs:extension base="config:store">
        <xs:sequence>
        </xs:sequence>
        <xs:attribute name="autoCreateTable" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>
              Whether to automatically create the HBase table with the appropriate column families (true by default).
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="entryColumnFamily" type="xs:string" default="E">
          <xs:annotation>
            <xs:documentation>
              The column family for entries. Defaults to 'E'
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="entryTable" type="xs:string" default="ISPNCacheStore">
          <xs:annotation>
            <xs:documentation>
              The HBase table for storing the cache entries. Defaults to 'ISPNCacheStore'
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="entryValueField" type="xs:string" default="EV">
          <xs:annotation>
            <xs:documentation>
              The field name containing the entries. Defaults to 'EV'
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="expirationColumnFamily" type="xs:string" default="X">
          <xs:annotation>
            <xs:documentation>
              The column family for expiration metadata. Defaults to 'X'
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="expirationTable" type="xs:string" default="ISPNCacheStoreExpiration">
          <xs:annotation>
            <xs:documentation>
              The HBase table for storing the cache expiration metadata. Defaults to 'ISPNCacheStoreExpiration'
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="expirationValueField" type="xs:string" default="XV">
          <xs:annotation>
            <xs:documentation>
              The field name containing the expiration metadata. Defaults to 'XV'
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="hbaseZookeeperQuorumHost" type="xs:string" default="localhost">
          <xs:annotation>
            <xs:documentation>
              The HBase zookeeper client port. Defaults to 'localhost'
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="hbaseZookeeperClientPort" type="xs:int" default="2181">
          <xs:annotation>
            <xs:documentation>
              The HBase zookeeper client port. Defaults to '2181'
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="keyMapper" type="xs:string" default="org.infinispan.loaders.keymappers.MarshalledValueOrPrimitiveMapper">
          <xs:annotation>
            <xs:documentation>
              The keymapper for converting keys to strings (uses the MarshalledValueOrPrimitiveMapper by default)
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="sharedTable" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>
              Whether the table is shared between multiple caches. Defaults to 'false'
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
