cachestore/cloud/src/main/resources/schema/infinispan-cachestore-cloud-config-6.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
           targetNamespace="urn:infinispan:config:cloud:6.0"
           xmlns:tns="urn:infinispan:config:cloud:6.0"
           xmlns:config="urn:infinispan:config:6.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:infinispan:config:6.0"
             schemaLocation="http://www.infinispan.org/schemas/infinispan-config-6.0.xsd" />

  <xs:element name="cloudStore">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="config:store">
          <xs:sequence>
          </xs:sequence>
          <xs:attribute name="bucketPrefix" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                A string that is prepended to generated buckets or containers on the cloud store. Buckets or containers are named {bucketPrefix}-{cacheName}.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="cloudService" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>
                The cloud service to use. Supported values are dependent on the included version of the JClouds library.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="cloudServiceLocation" type="xs:string" default="DEFAULT">
            <xs:annotation>
              <xs:documentation>
                The data center to use. Note that this is specific to the cloud provider in question. E.g., Amazon's S3 service supports storage buckets in several different locations. Optional, and defaults to DEFAULT
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="compress" type="xs:boolean" default="true">
            <xs:annotation>
              <xs:documentation>
                Whether to compress stored data. Defaults to true
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="identity" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                A String that identifies you to the cloud provider. For example. with AWS, this is your ACCESS KEY.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="lazyPurgingOnly" type="xs:boolean" default="false">
            <xs:annotation>
              <xs:documentation>
                If enabled, then expired entries are only purged on access, lazily, rather than by using the periodic eviction thread. Defaults to false
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="maxConnections" type="xs:int" default="10">
            <xs:annotation>
              <xs:documentation>
                The maximum number of concurrent connections to make to the cloud provider. Defaults to 10.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="requestTimeout" type="xs:int" default="10000">
            <xs:annotation>
              <xs:documentation>
               A timeout to use when communicating with the cloud storage provider, in milliseconds. Defaults to 10000.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="password" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                A String that is used to authenticate you with the cloud provider. For example. with AWS, this is your SECRET KEY.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="proxyHost" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                The host name of a proxy to use. Optional, no proxy is used if this is un-set.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="proxyPort" type="xs:int">
            <xs:annotation>
              <xs:documentation>
                The port of a proxy to use.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="secure" type="xs:boolean" default="true">
            <xs:annotation>
              <xs:documentation>
                Whether to use secure (SSL) connections or not. Defaults to true
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
