persistence/jdbc-common/src/main/resources/schema/infinispan-cachestore-jdbc-common-config-15.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
           targetNamespace="urn:infinispan:config:store:jdbc-common:15.0"
           xmlns:tns="urn:infinispan:config:store:jdbc-common:15.0"
           xmlns:config="urn:infinispan:config:15.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:infinispan:config:15.0"
             schemaLocation="https://infinispan.org/schemas/infinispan-config-15.0.xsd" />

  <xs:complexType name="abstract-jdbc-store" abstract="true">
    <xs:complexContent>
      <xs:extension base="config:store">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="connection-pool" type="tns:connection-pool" />
            <xs:element name="data-source" type="tns:data-source" />
            <xs:element name="simple-connection" type="tns:simple-connection" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="dialect" type="tns:dialect" use="optional">
          <xs:annotation>
            <xs:documentation>Specifies the JDBC dialect of the database.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="db-major-version" type="xs:nonNegativeInteger" use="optional">
          <xs:annotation>
            <xs:documentation>Specifies the major version of the database.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="db-minor-version" type="xs:nonNegativeInteger" use="optional">
          <xs:annotation>
            <xs:documentation>Specifies the minor version of the database.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="read-query-timeout" type="xs:nonNegativeInteger" use="optional">
          <xs:annotation>
            <xs:documentation>Defines the timeout, in seconds, for read queries. The default is 0 which indicates no timeout.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="write-query-timeout" type="xs:nonNegativeInteger" use="optional">
          <xs:annotation>
            <xs:documentation>Defines the timeout, in seconds, for write queries. The default is 0 which indicates no timeout.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="connection-pool">
    <xs:attribute name="properties-file" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Sets the path of a properties file that provides additional configuration for the connection pool.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="connection-url" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Sets a connection url specific to a JDBC driver.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="driver" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Specifies the class name of the driver that connects to the database.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="password" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Specifies the password for the database connection.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="username" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Specifies the username for the database connection.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="data-source">
    <xs:attribute name="jndi-url" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Specifies the address of a datasource for the JDBC connection.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="simple-connection">
    <xs:attribute name="connection-url" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Sets a connection url specific to a JDBC driver.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="driver" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Specifies the class name of the driver that connects to the database.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="password" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Specifies the password for the database connection.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="username" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Specifies the username for the database connection.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:simpleType name="dialect">
    <xs:restriction base="xs:token">
      <xs:enumeration value="ACCESS"/>
      <xs:enumeration value="DB2"/>
      <xs:enumeration value="DB2_390"/>
      <xs:enumeration value="DERBY"/>
      <xs:enumeration value="FIREBIRD"/>
      <xs:enumeration value="H2"/>
      <xs:enumeration value="HSQL"/>
      <xs:enumeration value="INFORMIX"/>
      <xs:enumeration value="INTERBASE"/>
      <xs:enumeration value="MARIA_DB"/>
      <xs:enumeration value="MYSQL"/>
      <xs:enumeration value="ORACLE"/>
      <xs:enumeration value="POSTGRES"/>
      <xs:enumeration value="SQL_SERVER"/>
      <xs:enumeration value="SQLITE"/>
      <xs:enumeration value="SYBASE"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
