multimap/src/main/resources/infinispan-multimap-config-15.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
           targetNamespace="urn:infinispan:config:multimap:15.0"
           xmlns:tns="urn:infinispan:config:multimap:15.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="multimaps" type="tns:multimap" />

    <xs:complexType name="multimaps">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="multimap" type="tns:multimap">
                <xs:annotation>
                    <xs:documentation>
                        Configures a multimap.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="multimap">
        <xs:attribute name="name" type="xs:ID" use="required">
            <xs:annotation>
                <xs:documentation>
                    Specifies a unique name a multimap.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="supports-duplicates" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>
                    Determines if the multimap supports duplicates in the values list. Defaults to false.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>
