persistence/remote/src/main/resources/schema/infinispan-cachestore-remote-config-6.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
           targetNamespace="urn:infinispan:config:remote:6.0"
           xmlns:tns="urn:infinispan:config:remote:6.0"
           xmlns:config="urn:infinispan:config:6.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:infinispan:config:6.0"
             schemaLocation="http://www.infinispan.org/schemas/infinispan-config-6.0.xsd" />

  <xs:element name="remoteStore">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="config:store">
          <xs:sequence>
            <xs:element name="servers" type="tns:servers" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This is the initial list of Hot Rod servers to connect to.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="connectionPool" type="tns:connectionPool" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Configuration of the connection pool
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="asyncTransportExecutor" type="config:executorFactory" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Configuration for the executor service used for asynchronous work on the Transport, including asynchronous marshalling and Cache 'async operations' such as Cache.putAsync().
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="balancingStrategy" type="xs:string" default="org.infinispan.client.hotrod.impl.transport.tcp.RoundRobinBalancingStrategy">
            <xs:annotation>
              <xs:documentation>
                For replicated (vs distributed) Hot Rod server clusters, the client balances requests to the servers according to this strategy.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="connectionTimeout" type="xs:int" default="60000">
            <xs:annotation>
              <xs:documentation>
                This property defines the maximum socket connect timeout before giving up connecting to the server.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="entryWrapper" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                Allows you to specify a custom {@link org.infinispan.persistence.remote.wrapper.EntryWrapper} implementation to wrap cache entries
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="hotRodWrapping" type="xs:boolean" default="false">
            <xs:annotation>
              <xs:documentation>
                Configures this RemoteCacheStore so that it enables all settings needed to create entries to be served by a HotRod endpoint, for example when performing rolling upgrades.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="forceReturnValues" type="xs:boolean" default="false">
            <xs:annotation>
              <xs:documentation>
                Whether or not to implicitly FORCE_RETURN_VALUE for all calls.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="keySizeEstimate" type="xs:int" default="64">
            <xs:annotation>
              <xs:documentation>
                The class name of the driver used for connecting to the database.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="marshaller" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                Allows you to specify a custom {@link org.infinispan.marshall.Marshaller} implementation to serialize and deserialize user objects.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="pingOnStartup" type="xs:boolean" default="true">
            <xs:annotation>
              <xs:documentation>
                If true, a ping request is sent to a back end server in order to fetch cluster's topology.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="protocolVersion" type="xs:string" default="1.1">
            <xs:annotation>
              <xs:documentation>
                This property defines the protocol version that this client should use. Defaults to 1.1. Other valid values include 1.0.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="rawValues" type="xs:boolean" default="false">
            <xs:annotation>
              <xs:documentation>
                Normally the RemoteCacheStore stores values wrapped in InternalCacheEntry. Setting this property to true causes the raw values to be stored instead for interoperability with direct
                access by RemoteCacheManager. Defaults to false (disabled)
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="remoteCacheName" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                The name of the remote cache in the remote infinispan cluster, to which to connect to. If unspecified, the default
                cache will be used
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="socketTimeout" type="xs:int" default="60000">
            <xs:annotation>
              <xs:documentation>
                This property defines the maximum socket read timeout in milliseconds before giving up waiting for bytes from the server. Defaults to 60000 (1 minute)
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="tcpNoDelay" type="xs:boolean" default="true">
            <xs:annotation>
              <xs:documentation>
                Affects TCP NODELAY on the TCP stack. Defaults to enabled
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="transportFactory" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                Controls which transport to use. Currently only the TcpTransport is supported.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="valueSizeEstimate" type="xs:int" default="512">
            <xs:annotation>
              <xs:documentation>
                This hint allows sizing of byte buffers when serializing and deserializing values, to minimize array resizing.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="servers">
    <xs:sequence>
      <xs:element name="server" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="host" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                The hostname or ip address of a remote Hot Rod server
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="port" type="xs:int" default="11222">
            <xs:annotation>
              <xs:documentation>
                The port on which the server is listening (default 11222)
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="connectionPool">
    <xs:attribute name="exhaustedAction" type="tns:exhaustedAction" default="WAIT">
      <xs:annotation>
        <xs:documentation>
           Specifies what happens when asking for a connection from a server's pool, and that pool is exhausted.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maxActive" type="xs:int" default="-1">
      <xs:annotation>
        <xs:documentation>
          Controls the maximum number of connections per server that are allocated (checked out to client threads, or idle in the pool) at one time. When non-positive, there is no limit to the number of connections per server. When maxActive is reached, the connection pool for that server is said to be exhausted. The default setting for this parameter is -1, i.e. there is no limit.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maxIdle" type="xs:int" default="-1">
      <xs:annotation>
        <xs:documentation>
          Controls the maximum number of idle persistent connections, per server, at any time. When negative, there is no limit to the number of connections that may be idle per server. The default setting for this parameter is -1.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maxTotal" type="xs:int" default="-1">
      <xs:annotation>
        <xs:documentation>
          Sets a global limit on the number persistent connections that can be in circulation within the combined set of servers. When non-positive, there is no limit to the total number of persistent connections in circulation. When maxTotal is exceeded, all connections pools are exhausted. The default setting for this parameter is -1 (no limit). 
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="minIdle" type="xs:int" default="1">
      <xs:annotation>
        <xs:documentation>
          Sets a target value for the minimum number of idle connections (per server) that should always be available. If this parameter is set to a positive number and timeBetweenEvictionRunsMillis > 0, each time the idle connection eviction thread runs, it will try to create enough idle instances so that there will be minIdle idle instances available for each server. The default setting for this parameter is 1. 
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="timeBetweenEvictionRuns" type="xs:long" default="120000">
      <xs:annotation>
        <xs:documentation>
          Indicates how long the eviction thread should sleep before "runs" of examining idle connections. When non-positive, no eviction thread will be launched. The default setting for this parameter is 2 minutes. 
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="minEvictableIdleTime" type="xs:long" default="1800000">
      <xs:annotation>
        <xs:documentation>
          Specifies the minimum amount of time that an connection may sit idle in the pool before it is eligible for eviction due to idle time. When non-positive, no connection will be dropped from the pool due to idle time alone. This setting has no effect unless timeBetweenEvictionRunsMillis > 0. The default setting for this parameter is 1800000(30 minutes).  
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="testWhileIdle" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>
          Indicates whether or not idle connections should be validated by sending an TCP packet to the server, during idle connection eviction runs. Connections that fail to validate will be dropped from the pool. This setting has no effect unless timeBetweenEvictionRunsMillis > 0. The default setting for this parameter is true.  
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:simpleType name="exhaustedAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EXCEPTION">
        <xs:annotation>
          <xs:documentation>
            An exception will be thrown to the calling user
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WAIT">
        <xs:annotation>
          <xs:documentation>
            The caller will block (invoke waits until a new or idle connections is available. 
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CREATE_NEW">
        <xs:annotation>
          <xs:documentation>
            A new persistent connection will be created and returned (essentially making maxActive meaningless.) 
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
