cachestore/jdbm/src/main/resources/schema/infinispan-cachestore-jdbm-config-5.2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!--
  ~ Copyright 2012 Red Hat, Inc. and/or its affiliates.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this library; if not, write to the Free Software
  ~ Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
  ~ 02110-1301 USA
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" targetNamespace="urn:infinispan:config:jdbm:5.2" xmlns:tns="urn:infinispan:config:jdbm:5.2" xmlns:config="urn:infinispan:config:5.2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:infinispan:config:5.2" schemaLocation="http://www.infinispan.org/schemas/infinispan-config-5.2.xsd" />

  <xs:complexType name="jdbmStore">
    <xs:complexContent>
      <xs:extension base="config:store">
        <xs:sequence>
        </xs:sequence>
        <xs:attribute name="location" type="xs:string" default="jdbm">
          <xs:annotation>
            <xs:documentation>
              Location on disk where the store will its write internal files.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="expiryQueueSize" type="xs:int" default="10000">
          <xs:annotation>
            <xs:documentation>
              Whenever a new entry is stored, an expiry entry is created and added to the a queue that is later consumed by the eviction thread. This parameter sets the size of this queue.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="comparatorClassName" type="xs:string" default="org.infinispan.loaders.jdbm.NaturalComparator">
          <xs:annotation>
            <xs:documentation>
              Comparator class used to sort the keys by the cache loader. This should only need to be set when using keys that do not have a natural ordering.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
