cachestore/jdbm/src/main/resources/schema/infinispan-cachestore-jdbm-config-6.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
           targetNamespace="urn:infinispan:config:jdbm:6.0"
           xmlns:tns="urn:infinispan:config:jdbm:6.0"
           xmlns:config="urn:infinispan:config:6.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:infinispan:config:6.0"
             schemaLocation="http://www.infinispan.org/schemas/infinispan-config-6.0.xsd" />

  <xs:element name="jdbmStore">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="config:store">
          <xs:sequence>
          </xs:sequence>
          <xs:attribute name="location" type="xs:string" default="jdbm">
            <xs:annotation>
              <xs:documentation>
                Location on disk where the store will its write internal files.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="expiryQueueSize" type="xs:int" default="10000">
            <xs:annotation>
              <xs:documentation>
                Whenever a new entry is stored, an expiry entry is created and added to the a queue that is later consumed by the eviction thread. This parameter sets the size of this queue.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="comparatorClassName" type="xs:string" default="org.infinispan.loaders.jdbm.NaturalComparator">
            <xs:annotation>
              <xs:documentation>
                Comparator class used to sort the keys by the cache loader. This should only need to be set when using keys that do not have a natural ordering.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
