cachestore/jdbc/src/main/resources/schema/infinispan-cachestore-jdbc-config-5.2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!--
  ~ Copyright 2012 Red Hat, Inc. and/or its affiliates.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this library; if not, write to the Free Software
  ~ Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
  ~ 02110-1301 USA
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" targetNamespace="urn:infinispan:config:jdbc:5.2" xmlns:tns="urn:infinispan:config:jdbc:5.2" xmlns:config="urn:infinispan:config:5.2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:infinispan:config:5.2" schemaLocation="http://www.infinispan.org/schemas/infinispan-config-5.2.xsd" />

  <xs:complexType name="stringKeyedJdbcStore">
    <xs:complexContent>
      <xs:extension base="tns:jdbcStore">
        <xs:sequence>
          <xs:element name="stringKeyedTable" type="tns:stringKeyedTable">
            <xs:annotation>
              <xs:documentation>
                Defines the table used to store cache entries
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="key2StringMapper" type="xs:string">
          <xs:annotation>
            <xs:documentation>
              The class name of a Key2StringMapper to use when mapping keys to strings to be used in the database tables
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="stringKeyedTable">
    <xs:complexContent>
      <xs:extension base="tns:table">
        <xs:attribute name="prefix" type="xs:string" default="ispn_entry">
          <xs:annotation>
            <xs:documentation>Defines the prefix prepended to the cache name used when composing the name of the cache entry table.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="binaryKeyedJdbcStore">
    <xs:complexContent>
      <xs:extension base="tns:jdbcStore">
        <xs:sequence>
          <xs:element name="binaryKeyedTable" type="tns:binaryKeyedTable">
            <xs:annotation>
              <xs:documentation>
                Defines the table used to store cache entries
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="binaryKeyedTable">
    <xs:complexContent>
      <xs:extension base="tns:table">
        <xs:attribute name="prefix" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>Defines the prefix prepended to the cache name used when composing the name of the cache bucket table.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="mixedKeyedJdbcStore">
    <xs:complexContent>
      <xs:extension base="tns:jdbcStore">
        <xs:sequence>
          <xs:element name="binaryKeyedTable" type="tns:binaryKeyedTable" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                Defines the table used to store cache buckets.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="stringKeyedTable" type="tns:stringKeyedTable" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                Defines the table used to store cache entries.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="key2StringMapper" type="xs:string">
          <xs:annotation>
            <xs:documentation>
              The class name of a Key2StringMapper to use when mapping keys to strings to be used in the database tables
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="jdbcStore" abstract="true">
    <xs:complexContent>
      <xs:extension base="config:lockSupportStore">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="connectionPool" type="tns:connectionPool" />
            <xs:element name="dataSource" type="tns:dataSource" />
            <xs:element name="singleConnection" type="tns:singleConnection" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="connectionPool">
    <xs:attribute name="connectionUrl" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            A JDBC driver-specific connection URL
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="driverClass" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The class name of the driver used for connecting to the database.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="password" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The password to use when connecting via connectionUrl
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="username" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The username to use when connecting via connectionUrl
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="dataSource">
    <xs:attribute name="jndiUrl" type="xs:string">
       <xs:annotation>
         <xs:documentation>
           The address of a datasource to use when connecting
         </xs:documentation>
       </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="singleConnection">
    <xs:attribute name="connectionUrl" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          A JDBC driver-specific connection URL
        </xs:documentation>
      </xs:annotation>
      </xs:attribute>
      <xs:attribute name="driverClass" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The class name of the driver used for connecting to the database.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="password" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The password to use when connecting via connectionUrl
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="username" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The username to use when connecting via connectionUrl
          </xs:documentation>
        </xs:annotation>
     </xs:attribute>
  </xs:complexType>

  <xs:complexType name="table">
    <xs:sequence>
      <xs:element name="idColumn" type="tns:idColumn" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Defines the column in which to store the cache key or bucket id.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dataColumn" type="tns:dataColumn" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Defines the column in which to store the cache entry or bucket.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="timestampColumn" type="tns:timestampColumn" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Defines the column in which to store the timestamp of the cache entry or bucket.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="fetchSize" type="xs:int" default="100">
      <xs:annotation>
        <xs:documentation>The fetch size used when querying from this table. Used to avoid heap memory exhaustion when query is large.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="batchSize" type="xs:int" default="100">
      <xs:annotation>
        <xs:documentation>The statement batch size used when modifying this table.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="idColumn">
    <xs:attribute name="name" type="xs:string" default="id">
      <xs:annotation>
        <xs:documentation>The name of the column used to store the cache key or bucket id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="xs:string" default="VARCHAR">
      <xs:annotation>
        <xs:documentation>The type of the column used to store the cache key or bucket id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="dataColumn">
    <xs:attribute name="name" type="xs:string" default="datum">
      <xs:annotation>
        <xs:documentation>The name of the column used to store the cache entry or bucket.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="xs:string" default="BINARY">
      <xs:annotation>
        <xs:documentation>The type of the column used to store the cache entry or bucket.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="timestampColumn">
    <xs:attribute name="name" type="xs:string" default="version">
      <xs:annotation>
        <xs:documentation>The name of the column used to store the cache entry or bucket timestamp.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="xs:string" default="BIGINT">
      <xs:annotation>
        <xs:documentation>The type of the column used to store the cache entry or bucket timestamp.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
