persistence/rest/src/main/resources/schema/infinispan-cachestore-rest-config-6.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
           targetNamespace="urn:infinispan:config:store:rest:6.0"
           xmlns:tns="urn:infinispan:config:store:rest:6.0"
           xmlns:config="urn:infinispan:config:6.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:infinispan:config:6.0"
             schemaLocation="http://www.infinispan.org/schemas/infinispan-config-6.0.xsd" />

  <xs:element name="restStore">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="config:store">
          <xs:sequence>
            <xs:element name="connectionPool" type="tns:connectionPool" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Configuration of the connection pool
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="appendCacheNameToPath" type="xs:boolean" default="false">
            <xs:annotation>
              <xs:documentation>
                If true, the name of the cache will be appended to the URI path. 
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="host" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                The hostname or ip address of a remote REST server
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="port" type="xs:int" default="8080">
            <xs:annotation>
              <xs:documentation>
                The port on which the server is listening (default 8080)
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="key2StringMapper" type="xs:string" default="org.infinispan.persistence.keymappers.MarshalledValueOrPrimitiveMapper">
            <xs:annotation>
              <xs:documentation>
                 The name of a class to use for converting keys to strings. Defaults to
                 org.infinispan.persistence.keymappers.MarshalledValueOrPrimitiveMapper
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="path" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                The path portion of the URI. If a trailing '/' is not included, the cachestore will add it automatically. Defaults to /rest/.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="connectionPool">
    <xs:attribute name="connectionTimeout" type="xs:int" default="60000">
      <xs:annotation>
        <xs:documentation>
          This property defines the maximum socket connect timeout before giving up connecting to the server.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="socketTimeout" type="xs:int" default="60000">
      <xs:annotation>
        <xs:documentation>
          This property defines the maximum socket read timeout in milliseconds before giving up waiting for bytes from the server. Defaults to 60000 (1 minute)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tcpNoDelay" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>
          Affects TCP NODELAY on the TCP stack. Defaults to enabled
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maxConnectionsPerHost" type="xs:int" default="4">
      <xs:annotation>
        <xs:documentation>
          Controls the maximum number of connections per host. Defaults to 4.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maxTotalConnections" type="xs:int" default="20">
      <xs:annotation>
        <xs:documentation>
          Controls the total maximum number of connections for all hosts. Defaults to 20.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="bufferSize" type="xs:int" default="8192">
      <xs:annotation>
        <xs:documentation>
          Sets the size of the buffer used to receive/transmit data over the HTTP connection. Defaults to 8192. 
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    
  </xs:complexType>
</xs:schema>

